/* Heading Formatting */
.headerLink {
	float: right;
	margin-top: 5px;
}

.boxLink {
	background: #66666d;
	margin: 1px;
	height: 2px;
	width: 2px;

}

.logIn {
	background: blue;
	padding: 5px 0 5px 0;
	border-radius: 5px;
}

.logIn > a {
	color: white;
	font-weight: bold;
	font-size: 14px

}

/* Scaling Logo */
#logo {
	width: 272px; 
	height: 92px
}

/* Formatting for the central element */
.center{
	width: 600px;
	height: 300px;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}

.logoBox {
	width: 484px; 
	margin-left: auto; 
	margin-right: auto;
	margin-bottom: 20px;
	text-align: center;
}

.searchElement {
	width: 484px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.searchBar {
	width: 484px;
	padding: 5px 10px 5px 10px;
	border: 1px solid blue;
}

.barForm {
	outline: none;
	border: none;

	font-size: 18px
}
.barForm:focus {
	outline: none;
	border: none;

	font-size: 18px;
}

.button{
	font-size: 14px;
	font-weight: bold;
	color: #66666d;

	background-color: #e9e9e9;
	border: none;
	padding: 5px 15px 5px 15px;
	margin-top: 20px;

}

.button:hover {
	outline: 1px solid grey;
	color: black;
}
/* Placing and formatting footer and links */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	padding: 10px 0 10px 0;

	background-color: #e9e9e9;
	margin: 0;

}

a {padding: 0 10px 0 10px;}

/* Making all links google like */
a {
	color: #66666d;
	font-size: 13px;
	text-decoration: none;
}

a:hover {text-decoration: underline;}
